<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <title>Vitrine NetShoes</title>
    <meta name="description" content="Vitrine de produtos NetShoes">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./stylesheets/style.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="javascripts/script.js"></script>
  </head>
  <body onload="SessionCarrinho();">
    <div id="produtosCarrinho">
      <h2 class="sacola">Sacola</h2>
      <hr />
      <div id="mensagemSacola"></div>
      <div id="produtosSacola"></div>
      <div id="precoTotal">
        <p>SUBTOTAL</p>
        <p id="valorTotal"></p>
      </div>
      <input type="button" class="btn btn-default btnComprarCar" onclick="Compra();" value="COMPRAR" />
    </div>

    <div class="container">
      <div class="row">
        <div id="carrinhoCompras">
          <img src="images/carrinho.jpg" class="imgCarrinho" alt="carrinho"/>
          <div id="contador"></div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 row vitrine">
        <hr />
        <% vitrine.forEach(function(produto) { %>
          <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 thumbnail">
            <div class="thumbnail <%- produto.id %>">
              <img src="images/corinthians.jpg" class="imagem <%- produto.id %>" alt="Corinthians" style="width:100%">
              <p class="tituloProduto <%- produto.id %>"><%- produto.title %></p>
              <p class="traco">-</p>
              <p class="precoProduto"><span class="valorProduto <%- produto.id %>"><%- produto.price %></span></p>
              <p class="parcelas <%- produto.id %>">ou 3 x <%- produto.currencyFormat %> <%- produto.parcela %></p>
              <input type="button" class="btn btn-default btnComprar text-center" id="<%- produto.id %>" onclick="AddCarrinho(<%=JSON.stringify(produto)%>);" style="width:100%" value="Comprar" />
              <hr />
            </div>
          </div>
        <% }); %>
      </div>
    </div>

    <script>
      $('#carrinhoCompras').click(function() {
        $('#produtosCarrinho').toggle('slide', {direction: 'left'}, 1000);
      });
    </script>
  </body>
</html>
